body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9); /* Blanco con un 90% de opacidad */
    border-radius: 15px; /* Bordes redondeados */
    padding: 50px;
    size-adjust: auto;
    max-width: 800px;
  }
  
  .main-container .headline {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .main-container .link-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .main-container .link-container .btn {
    background-color: #6b5b95;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .main-container .link-container .btn:hover {
    background-color: #59447c;
    transform: scale(1.05);
  }
  
  .main-container .description {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 600px;
  }
  
  .main-container .description .highlight {
    color: red;
    font-weight: bold;
  }
  